<div class="container">
    <nav>
        <ul class="custom-ul-flex">
            <li class="custom-li-element">
                <button type="button" mat-stroked-button (click)="this.gotoPersonsPage()">
                    <mat-icon>person</mat-icon>
                    <span>Person Demo</span>
                </button>
            </li>
            <li class="custom-li-element">
                <button type="button" mat-stroked-button (click)="this.gotoAutocompletePage()">
                    <mat-icon>keyboard</mat-icon>
                    <span>Autocomplete Demo</span>
                </button>
            </li>
            <li class="custom-li-element">
                <button type="button" mat-stroked-button (click)="this.gotoNumbersPage()">
                    <mat-icon>pin</mat-icon>
                    <span>Number input Demo</span>
                </button>
            </li>
            <li class="custom-li-element">
                <button type="button" mat-stroked-button (click)="this.gotoSingleSelectPage()">
                    <mat-icon>done</mat-icon>
                    <span>Single Select Demo</span>
                </button>
            </li>
            <li class="custom-li-element">
                <button type="button" mat-stroked-button (click)="this.gotoMultipleSelectPage()">
                    <mat-icon>done_all</mat-icon>
                    <span>Multiple Select Demo</span>
                </button>
            </li>
            <li class="custom-li-element">
                <button type="button" mat-stroked-button (click)="this.gotoTextareaPage()">
                    <mat-icon>crop_square</mat-icon>
                    <span>Textarea Demo</span>
                </button>
            </li>
            <li class="custom-li-element">
                <button type="button" mat-stroked-button (click)="this.gotoInputDialogDemo()">
                    <mat-icon>input</mat-icon>
                    <span>Input Dialog Demo</span>
                </button>
            </li>
            <li class="custom-li-element">
                <button type="button" mat-stroked-button (click)="this.gotoAllPage()">
                    <mat-icon>keyboard_arrow_right</mat-icon>
                    <span>All fields</span>
                </button>
            </li>
        </ul>
    </nav>
</div>